MONGODB_URI=mongodb+srv://arielle0209_db_user:ariellem0209@cluster1.83so8ty.mongodb.net/cost_manager?retryWrites=true&w=majority&appName=Cluster1
LOGS_PORT=3001
USERS_PORT=3002
COSTS_PORT=3003
ABOUT_PORT=3004
TEAM_MEMBERS=[{"first_name":"Arielle","last_name":"Malka"},{"first_name":"Matan","last_name":"Owadiyha"}]
